.iconBell{
    background-color: #FFECD2;
    border: 0, solid, black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 5px;
}

.iconCube{
    background-color: #E5F0FE;
    border: 0, solid, black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 5px;
}

.iconComputer{
    background-color: #FFEEFD;
    border: 0, solid, black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 5px;
}

.notifBell{
    background-color: #FFECD2;
    margin-left: 5px;
    padding: 7px;
    width: 61%;
    height:38px;
    border: 0, solid, #FFECD2;
    border-radius: 5px;
}

.notifCube{
    background-color: #E5F0FE;
    margin-left: 5px;
    padding: 7px;
    width: 61%;
    height:38px;
    border: 0, solid, #E5F0FE;
    border-radius: 5px;
}

.notifComputer{
    background-color: #FFEEFD;
    margin-left: 5px;
    padding: 7px;
    width: 61%;
    height:38px;
    border: 0, solid, #FFEEFD;
    border-radius: 5px;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.vertical { 
    border-left: 1px solid black; 
    height: 38px; 
    display: inline-block;
    margin-left: 25px;
}

.vertical_hidden
{
    border-left: 0; 
    height: 38px; 
    display: inline-block;
    margin-left: 25px;
}